{% extends 'Base.html' %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}
        Sign in.
    {% endblock %}

    {% block scripts %}
        {{ block.super }}
        <script type="text/javascript" src="{% static '/js/oauth.js' %}"></script>
    {% endblock %}
</head>
<body>
    {% block content %}
        {% csrf_token %}
        <div class="container">
            <h3>Please log in first</h3>
            <div class="g-signin2" data-onsuccess="onSignIn" data-width="300" data-longtitle="true"></div>
        </div>

    {% endblock %}
</body>
</html>