.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

#navbar-header{
    background-color:transparent;
    font-size: 150%;
}

.nav-item{
    margin: 8px;
    font-family: "Quintessential";
    font-weight: bold;
    font-size: 18px;
}

.homewords {
    font-family: "Ribeye Marrow";
    text-align: center;
    width: 100%;
    height: auto;
    bottom: 50%;
    top: 20%;
    position: absolute;
    font-size: 230%;
}

.registerbtn {
    font-family: 'Poor Story';
    font-size: x-large;
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    margin: 8px auto;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    display: flex;
    justify-content: center;
    position: relative;
}

.changethemebtn {
    background-color: #4CAF50;
    color: white;
    padding: 5px 5px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    font-weight: bold;
    font-family: 'Poor Story';
    font-size: x-large;
    display: flex;
    justify-content: center;
    position:relative;
    margin: 10px auto;
    width: 10%;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

#me{
    font-family: "Quintessential";
    font-size: 350%;
    position: relative;
    text-align: center;
    margin-top:3%;
}

.me1{
    margin: auto;
    font-family: "Quicksand";
    font-size: 120%;
    width: 50%;
    position: relative;
    text-align: center;
    margin-top:3%;
}

.form{
    margin: auto;
    font-family: "Quicksand";
    font-size: 100%;
    width: 99%;
    bottom: 10px;
    font-weight: bold;
    position: relative;
    text-align: justify;
}

.form-block{
    margin: auto;
    font-family: "Quicksand";
    background: azure;
    font-size: 100%;
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    width: 100%;
    border-style: outset;
    border-radius: 30px;
    font-weight: bold;
    text-align: justify;
}

.accordion {
    background-color: #6DDCBD;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 20px;
    transition: 0.3s;
    font-family: "Poor Story";
}

.active, .accordion:hover {
    background-color: azure;
}

.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.panel {
    padding: 0 18px;
    background-color: azure;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    font-family: "Quicksand"
}

#work-in-progress {
    position: fixed;
    width: 100%;
    height: 100%;
    font-size: 150px;
    text-align: center;
    vertical-align: middle;
    color: #000000;
    z-index: 200000;
    background-color: #FFFFFF;
}

.work-spinner {
    background-color: rgba(0,0,0,0);
    border: 9px solid rgba(27,61,226,0.9);
    opacity: .9;
    border-left: 5px solid rgba(0,0,0,0);
    border-radius: 120px;
    -webkit-box-shadow: 0 0 35px #1B3DE2;
    box-shadow: 0 0 35px #1B3DE2;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    position: relative;
    top: 40%;
    -moz-animation: spin .5s infinite linear;
    -webkit-animation: spin .5s infinite linear;
    -o-animation: spin .5s infinite linear;
    animation: spin .5s infinite linear;
}

.center td {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form-control-borderless {
    border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

@-moz-keyframes spin {
     from {
         -moz-transform: rotate(0deg);
     }
     to {
         -moz-transform: rotate(360deg);
     }
 }

 @-webkit-keyframes spin {
     from {
         -webkit-transform: rotate(0deg);
     }
     to {
         -webkit-transform: rotate(360deg);
     }
 }

 @keyframes spin {
     from {
         transform: rotate(0deg);
     }
     to {
         transform: rotate(360deg);
     }
 }
 @-o-keyframes spin {
     from {
         transform: rotate(0deg);
     }
     to {
         transform: rotate(360deg);
     }
 }

 .container{
    margin-top: 30px;
    position: relative;
}

.ic{
    content: url("../images/Unbookmark.png");
    width: 100%;
    height: 100%;
}

.bttnn{
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 30px;
}

.ic:hover{
    content: url("../images/Bookmarked.png");
    width: 100%;
    height: 100%;
}

.row{
    margin-left: -150px;
    margin-right: -150px;
}

.del{
    content: url("../images/Bookmarked.png");
    width: 100%;
    height: 100%;
}

h3:hover{
    cursor: pointer;
}
