<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="landing page">
    <meta name="author" content="Ringgi Cahyo Dwiputra - 1706025005">
    <meta name="google-signin-client_id" content="632242128761-pba3bde883snq2ee4bmv8ck9sqm5p6gf.apps.googleusercontent.com">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Cabin+Sketch|Kosugi+Maru|PT+Sans+Narrow|Poor+Story|Quicksand|Quintessential|Rancho|Ribeye+Marrow|Roboto+Mono" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href={% static 'css/Styling.css' %}>

    {% block scripts %}
        <script type="text/javascript" src={% static "js/jquery-3.3.1.js" %}></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script type="text/javascript" src={% static "js/javascript.js" %}></script>
        <script src="https://apis.google.com/js/platform.js" async defer></script>
    {% endblock %}

    <title>
        {% block title %}
            Facebook in Disguise.
        {% endblock title %}
    </title>
</head>

<body>
<div id="work-in-progress">
    <div class="work-spinner"></div>
</div>
    <header>
        <nav class="navbar navbar-inverse navbar-expand-lg">
            <div class="container-fluid">
                <div class="navbar-header">
                    <ul class="navbar-nav navbar-brand navbar-left">
                        <li><a style="font-size: 80px; font-family: 'Ribeye Marrow'; color: crimson" href={% url 'statusView' %}>R</a></li>
                    </ul>
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="nav-item"><a style="color: gold" href={% url 'statusView' %}>Home <span class="glyphicon glyphicon-home"></span></a></li>
                        <li class="nav-item"><a style="color: gold" href={% url 'profile' %}>Profile <span class="glyphicon glyphicon-user"></span></a></li>
                        <li class="nav-item"><a style="color: gold" href={% url 'library' %}>Library <span class="glyphicon glyphicon-book"></span></a></li>
                        <li class="nav-item"><a style="color: gold" href={% url 'subscribe:subscribe' %}>Subscribe <span class="glyphicon glyphicon-check"></span></a></li>
                        <li class="nav-item"><a style="color: gold" href={% url 'login' %}>Sign In <span class="glyphicon glyphicon-log-in"></span></a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <content>
        {% block content %}

        {% endblock content %}
    </content>

</body>
</html>