{% extends 'Base.html' %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}
        Perpusat in Disguise
    {% endblock %}

    {% block scripts %}
        {{ block.super }}
        <script type="text/javascript" src="{% static '/js/oauth.js' %}"></script>
    {% endblock %}
</head>
{% block content %}
{#    {% csrf_token %}#}
{#    <br>#}
{#    <div class="container card">#}
{#        <div class="g-signin2" data-onsuccess="onSignIn" data-width="300" data-longtitle="true"></div>#}
{#        <br>#}
{#        <a href="{% url 'logout' %}" onclick="signOut();">Sign out</a>#}
{#    </div>#}
{#    <h1 id="me" style="margin-bottom: 3%">My Books</h1>#}
{#    <h3 id="fav" class="me1" style="margin-bottom: 3%">Total of My Favorite Books: 0</h3>#}
{#    <div class="row justify-content-center">#}
{#        <div class="col-12 col-md-10 col-lg-8">#}
{#            <form action="{% url 'library' %}" method="post">#}
{#                {% csrf_token %}#}
{#                <div class="card-body row no-gutters align-items-center">#}
{#                    <div class="col-auto">#}
{#                        <i class="fas fa-search h4 text-body"></i>#}
{#                    </div>#}
{#                    <div class="col">#}
{#                        <input class="form-control form-control-lg form-control-borderless" name="keywords"#}
{#                               type="search" placeholder="Search topics or keywords">#}
{#                    </div>#}
{#                    <div class="col-auto">#}
{#                        <button class="btn btn-lg btn-success" type="submit">Search</button>#}
{#                    </div>#}
{#                </div>#}
{#            </form>#}
{#        </div>#}
{#    </div>#}
{#    <body>#}
{#        <div class="table-responsive container-fluid">#}
{#            <table class="table table-hover table-bordered table-condensed" style="font-family: Papyrus; font-weight: bold; font-size: large">#}
{#                <thead class="thead-dark">#}
{#                    <th style="text-align: center;">Cover</th>#}
{#                    <th style="text-align: center;">Title</th>#}
{#                    <th style="text-align: center;">Author</th>#}
{#                    <th style="text-align: center;">Publisher</th>#}
{#                    <th style="text-align: center;">Add to Favorites</th>#}
{#                </thead>#}
{#                <tbody id="tableBody">#}
{##}
{#                </tbody>#}
{#            </table>#}
{#        </div>#}
{#    </body>#}
    {% csrf_token %}
<div class="container">
  <div class="row">
    <div class="col-sm-4">
    <div>
        <h1> Hello {{ nama }}</h1>
        <h2>Collection:</h2>
        <ul>
            <li><h3 id="quilting">Quilting</h3></li>
            <li><h3 id="programming">Programming</h3></li>
            <li><h3 id="django">Django</h3></li>
            <li><h3 id="python">Python</h3></li>
        </ul>
    </div>
      <h1><span class="count">{{ count }}</span><img src="{% static 'images/Bookmarked.png' %}" style="width: 40px;"> </h1>
      <hr class="d-sm-none">
        <div class="signout"><a href="{% url 'logout' %}" onclick="signOut()">Sign out</a></div>
    </div>
    <div class="col-sm-8">
      <table class="table table-striped table-hover table-responsive-md table-secondary">
    <thead>
      <tr>
        <th>Title</th>
        <th>Authors</th>
        <th>Published</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
    </div>
  </div>
</div>
{% endblock %}
</html>