{% extends 'Base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}
        The story of mine
    {% endblock %}
</head>

{% block content %}
    <body>
    <div>
        <button class="btn-danger changethemebtn container" onclick="f()">Ubah Tema</button>
    </div>
    <div>
        <h2 id="me">The Writing of Me</h2>
    </div>
    <div class="me1">
        <p>The name is Ringgi Cahyo</p>
        <p>A man who will turn 20 next year</p>
        <p>A passionate boy who will InsyaAllah survive from his faculty</p>
        <p>Stand with the principle of "Done is better than perfect"</p>
    </div>

    <h2 style="font-family: Quintessential; text-align: center; margin-top: 3%">Want to know me more?</h2>
    <div class="container" id="accordion">
        <h3 class="accordion">Activities Nowadays</h3>
        <div style="font-family: Quicksand; background-color: azure;">
            <p>- 24/7 study at college</p>
            <p>- Do homeworks, yea, everytime</p>
            <p>- Bed rest because every people need to rest</p>
        </div>

        <h3 class="accordion">Organization Experiences</h3>
        <div style="font-family: Quicksand; background-color: azure;">
            <p>- Staf Pengembangan Sumber Daya Manusia BEM Fasilkom UI 2018</p>
            <p>- Ketua Sie. 9 OSIS SMAN 34 Jakarta Periode 2016</p>
        </div>

        <h3 class="accordion">Achievement</h3>
        <div style="font-family: Quicksand; background-color: azure;">
            <p>No achievement so far. Yet the best will come immediately.</p>
        </div>
    </div>
    </body>
{% endblock content %}
</html>