{% extends 'Base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Story 6</title>
</head>
{% block content %}
    <body>
        <div>
            <button class="btn-danger changethemebtn container" onclick="f()">Ubah Tema</button>
        </div>
        <div class="form container">
            <h1 style="font-family: Rancho; text-align: center">Hello, Apa Kabar?</h1>
            <form action="/post/" method="POST" class="form-block">
                {% csrf_token %}
                {{ form.as_p }}
            <input type="submit" class="btn-primary registerbtn" value="POST">
            </form>
        </div>
        <div class="container">
            <table class="table table-hover table-bordered table-condensed" style="font-family: Papyrus; font-weight: bold; font-size: large">
                <thead class="thead-dark">
                    <th style="text-align: center">Tanggal, Waktu</th>
                    <th style="text-align: center">Status</th>
                </thead>
                <tbody>
                    {% for status in result %}
                    <tr style="text-align: center">
                        <td> {{status.date}} </td>
                        <td> {{status.status}} </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div>
            <form action={% url 'delete' %}>
                <button type="submit" class="btn-danger registerbtn container">Delete All</button>
            </form>
        </div>
    </body>
{% endblock %}
</html>