{% extends 'Base.html' %}
{% load staticfiles %}
<!DOCTYPE html>

{% block title %}
    Subscribe Me
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'js/webservice.js' %}"></script>
{% endblock %}

{% block content %}
    <body>
        <div class="form container" style="margin-top: 5%">
            <form method="POST" class="form-block" data-validate-email-url="{% url 'subscribe:validate_email' %}" id="subscribeMe" action="#">
                {% csrf_token %}
                <h1>Subscribe</h1>
                <p>Please fill this form to subscribe me and get to know about me more!</p>
                {{ form.as_p }}
                <p>By registering as my subscriber, you agree to my <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>
                <div class="clearfix">
                    <input type="submit" class="btn registerbtn" value="Kirim">
                </div>
            </form>
        </div>
        <div class="table-responsive container-fluid">
            <table class="table table-hover table-bordered table-condensed" style="font-family: Papyrus; font-weight: bold; font-size: large">
                <thead class="thead-dark">
                    <th style="text-align: center;">Name</th>
                    <th style="text-align: center;">Email</th>
                    <th style="text-align: center;">Unsubscribe</th>
                </thead>
                <tbody id="tableSubscriber">

                </tbody>
            </table>
        </div>
    </body>
{% endblock %}

</html>